prjConversorWS/ConversorService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://control/" xmlns:tns="http://control/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="conversor" type="tns:conversor"/>

  <xs:element name="conversorResponse" type="tns:conversorResponse"/>

  <xs:complexType name="conversor">
    <xs:sequence>
      <xs:element name="escolhaN" type="xs:int"/>
      <xs:element name="temperat" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="conversorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

